body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}

/** The container which contains all of the divs **/
.container{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("resources/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/** Navigation **/
.navigation-container{
    position: relative;
    overflow: hidden;
    text-align: center;

}
/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    padding:0;
    width: 50%;
    margin: auto;
    position: relative;
    font-size: 1.5em;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom:1px solid transparent;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}
/*Hover state for top level links*/
li:hover a {
    border-color: #ffffff;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/** Header **/
.header{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;

}

.header-title{
    font-size: 2.5em;
    color: #ffffff;
    padding-top: 10%;
    padding-bottom: 10%;

}
/** Website content **/
.content{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.content-left{
    margin-left: 0.5%;
    position: relative;
    width: 33%;
    height: 500px;
    text-align: center;
    float: left;
    background-image: url("resources/img/metallica.jpg");
    background-size: cover;
    background-position: center;
}

.content-middle{
    margin-left: 0.5%;
    margin-right: 0.5%;
    position: relative;
    width: 32%;
    height: 500px;
    text-align: center;
    float: left;
    background-image: url("resources/img/wt.jpg");
    background-size: cover;
    background-position: center;
}

.content-right{
    margin-right: 0.5%;
    position: relative;
    width: 33%;
    height: 500px;
    text-align: center;
    float: right;
    background-image: url("resources/img/nw.jpg");
    background-size: cover;
    background-position: center;
}

.content-inner-title{
    padding: 1%;
    color: #ffffff;
    font-size: 2em;
    word-wrap: break-word;
}

.content-inner-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: rgba(20, 15, 55,0.8);
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.content-inner-container:hover{
    visibility: visible!important;
    opacity: 1;
}
.content-inner-container-text {
    position: relative;
    color: #ffffff;
}

/**Sub-content **/
.sub-content{
    margin-top: 3%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

/** Left sub-content **/
.sub-content-left{
    word-wrap: break-word;
    float: left;
    position: relative;
    width: 33%;
    margin-left: 0.5%;
    background-color: rgba(18, 13, 53,0.5);
}

.sub-content-left-title{
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
}

.event{
    overflow: hidden;
    position: relative;
}

.event-text{
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    color: #ffffff;
    font-size: 1em;
    width: 60%;
    border-bottom: 1px solid transparent;
    transition: 1s;

}

.event-text:hover{
    border-color: #ffffff;
}

/** Right sub-content **/
.sub-content-right{
    word-wrap: break-word;
    float: right;
    position: relative;
    width: 65.5%;
    margin-right: 0.5%;
    background-color: rgba(75, 4, 18,0.5);
}

.sub-content-right-title{
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
}

.news{
    border:1px solid #ffffff;
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: 33%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.news-title{

    font-size: 1em;
    color: #ffffff;
}

.news-date{
    font-size: 13px;
    color: #e6e6e6;
}

.news-text{
    color: #ffffff;
}
/** Footer **/
.footer{
    overflow: hidden;
    position: relative;
}

/** Sub-Footer **/
.sub-footer{
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.sub-footer-content{
    position: relative;
    color: #ffffff;

}
/**Responsive elements **/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}